$yellow-color: #fbb816;
$white-color: #ffffff;
$green-color: #166a53;
$green-gradient: linear-gradient(#12fba7, #287358);

* {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.25rem;
  &-thumb {
    background-color: $yellow-color;
  }
  &-track {
    background-color: $green-color;
  }
}

.v-height-full {
  min-height: 100vh;
}

.v-height-75 {
  min-height: 75vh;
}

.navbar {
  z-index: 10;
  position: fixed;
  right: 2rem;
  padding-right: 1rem;
  border-right: 2px solid $yellow-color;
  &-toggler-icon {
    background-color: $yellow-color;
  }
  ul {
    li {
      list-style: none;
      .nav-link {
        color: $yellow-color;
        font-weight: 700;
        padding: 0.5rem;
        text-align: right;
        &:hover {
          color: black;
        }
        &.active {
          color: black;
          background-color: none;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 1rem;
            top: 31%;
            right: -31%;
            background-color: $yellow-color;
          }
        }
      }
    }
  }
}

#home {
  position: relative;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    &-content {
      display: inline-block;
      background-color: $yellow-color;
      border-bottom-right-radius: 100px;
    }
    &-image {
      width: 100px;
      padding: 1rem 2rem 2rem 1rem;
    }
  }
  .header {
    min-height: 100vh;
    background-image: url(../img/bg-header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    &-title {
      font-size: 3rem;
      font-weight: 700;
      color: $yellow-color;
    }
    &-description {
      font-size: 1.5rem;
      color: $white-color;
    }
    &-image {
      max-width: 250px;
    }
  }
}

.about {
  min-height: 100vh;
  margin: -5rem 0;
  background-color: transparent;
  &-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &-content {
    font-size: 1rem;
    font-weight: 400;
  }
  &-icon {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #24b28b;
    position: relative;
    margin-bottom: 2.5rem;
    .icon-underline {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #24b28b;
      left: 0;
      bottom: -1.5rem;
      &::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 2rem;
        top: -0.4rem;
        left: 50%;
        transform: translateX(-40%);
        background-color: #24b28b;
      }
    }
  }
  .icon-title {
    font-size: 1.2rem;
  }

  .icon-description {
    font-size: 0.9rem;
  }
}

#project {
  position: relative;
  .project {
    min-height: 100vh;
    background-image: url(../img/bg-home.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    &-link {
      color: $yellow-color;
      font-weight: 700;
      text-decoration: none;
      transition: ease-in-out 0.3s;
      &:hover {
        color: $white-color;
      }
    }
  }
  h2 {
    font-size: 1.5rem;
    color: $white-color;
    font-weight: 700;
  }
  .carousel {
    position: relative;
    &-item {
      img {
        border-radius: 1rem;
        width: 100%;
      }
    }
    &-indicators {
      position: absolute;
      bottom: -50px;
      & button {
        background-color: $yellow-color;
      }
    }
  }
}

.pricing {
  min-height: 100vh;
  margin: -5rem 0;
  h2 {
    font-size: 1.5rem;
    color: $green-color;
    font-weight: 700;
  }
  &-content {
    position: relative;
    padding: 2rem 0 1rem;
    box-shadow: -4px 3px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    &::after {
      border-radius: 10px;
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      top: 0;
      left: 0;
      background-color: $green-color;
    }
    h4 {
      font-size: 1.25rem;
      font-family: 700;
      color: $green-color;
    }
    h3 {
      font-size: 2.5rem;
      font-family: 900;
      color: $green-color;
    }
    h6 {
      padding: 0 3rem;
      font-size: 0.8rem;
      color: $green-color;
    }
    p {
      color: $green-color;
    }
  }
  &-content.active {
    background-image: $green-gradient;
    transform: scale(1.1);
    &::after {
      display: none;
    }
    h4 {
      font-size: 1.25rem;
      font-family: 700;
      color: $white-color;
    }
    h3 {
      font-size: 2.5rem;
      font-family: 900;
      color: $white-color;
    }
    h6 {
      padding: 0 3rem;
      font-size: 0.8rem;
      color: $white-color;
    }
    p {
      color: $white-color;
    }
  }
  &-link {
    margin: 3rem auto;
    font-size: 1.5rem;
    .green-button {
      padding: 1rem 2rem;
      color: $white-color;
      border-radius: 2rem;
      background-color: $green-color;
      transition: ease-in-out 0.3s;
      &:hover {
        background-color: $yellow-color;
        color: $green-color;
      }
    }
  }
}

#footer {
  .footer {
    min-height: 100vh;
    background-image: url(../img/bg-footer.png);
    background-size: 100% 100%;
    background-position: center;
  }
  h2 {
    color: $white-color;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 992px) {
  #home .header,
  #project .project,
  #footer .footer {
    padding: 5rem 0;
    background-size: cover;
    background-position: cover;
  }

  .about,
  .pricing {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    right: 1rem;
    border-right: none;
  }

  .header {
    &-image {
      width: 50%;
    }
  }
}

@media screen and (max-width: 576px) {
  #home {
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      &-content {
        display: inline-block;
        background-color: $yellow-color;
        border-bottom-right-radius: 100px;
      }
      &-image {
        width: 60px;
        padding: 0.5rem 1rem 1rem 0.5rem;
      }
    }
    .header {
      &-title {
        font-size: 2rem;
        font-weight: 700;
        color: $yellow-color;
      }
      &-description {
        font-size: 1rem;
        color: $white-color;
      }
    }
  }
}
