* {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #fbb816;
}

::-webkit-scrollbar-track {
  background-color: #166a53;
}

.v-height-full {
  min-height: 100vh;
}

.v-height-75 {
  min-height: 75vh;
}

.green-button {
  padding: 1rem 2rem;
  color: #ffffff;
  border-radius: 2rem;
  background-color: #166a53;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.green-button:hover {
  background-color: #fbb816;
  color: #166a53;
}

.navbar {
  z-index: 10;
  position: fixed;
  right: 2rem;
  padding-right: 1rem;
  border-right: 2px solid #fbb816;
}

.navbar-toggler-icon {
  color: #166a53;
  background-color: #fbb816;
}

.navbar-toggler {
  padding: 0;
}

.navbar .flaticon-menu:before {
  font-size: 1.75rem;
  color: #166a53;
  background-color: #fbb816;
  padding: 0.5rem 0.5rem 1rem 1rem;
  border-bottom-left-radius: 5rem;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li .nav-link {
  color: #fbb816;
  font-weight: 700;
  padding: 0.5rem;
  text-align: right;
}

.navbar ul li .nav-link:hover {
  color: black;
}

.navbar ul li .nav-link.active {
  color: black;
  background-color: none;
  position: relative;
}

.navbar ul li .nav-link.active::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 1rem;
  top: 31%;
  right: -31%;
  background-color: #fbb816;
}

#home {
  position: relative;
}

#home .logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#home .logo-content {
  display: inline-block;
  background-color: #fbb816;
  border-bottom-right-radius: 100px;
}

#home .logo-image {
  width: 100px;
  padding: 1rem 2rem 2rem 1rem;
}

#home .header {
  background-image: url(../img/bg-header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 5rem;
  min-height: 100vh;
}

#home .header-title {
  font-size: 3rem;
  font-weight: 700;
  color: #fbb816;
}

#home .header-description {
  font-size: 1.5rem;
  color: #ffffff;
}

#home .header-image {
  max-width: 250px;
}

.about {
  min-height: 100vh;
  margin: -5rem 0;
  background-color: transparent;
}

.about-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-content {
  font-size: 1rem;
  font-weight: 400;
}

.about-icon {
  display: inline-block;
  height: 120px;
  position: relative;
  margin-bottom: 2.5rem;
}

.about-icon i {
  line-height: 120px;
  font-size: 90px;
  color: #166a53;
  padding: 15px 15px;
}

.about-icon .icon-underline {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #166a53;
  left: 0;
  bottom: -1.5rem;
}

.about-icon .icon-underline::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  top: -0.4rem;
  left: 50%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  background-color: #166a53;
}

.about .icon-title {
  font-size: 1.2rem;
}

.about .icon-description {
  font-size: 0.9rem;
}

#project {
  position: relative;
}

#project .project {
  padding: 5rem 0 7rem;
  min-height: 100vh;
  background-image: url(../img/bg-home.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#project .project-link {
  color: #fbb816;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

#project .project-link:hover {
  color: #ffffff;
}

#project h2 {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

#project .carousel {
  position: relative;
}

#project .carousel-item img {
  border-radius: 1rem;
  width: 100%;
}

#project .carousel-indicators {
  position: absolute;
  bottom: -50px;
}

#project .carousel-indicators button {
  background-color: #fbb816;
}

.pricing {
  min-height: 100vh;
  margin: -5rem 0;
}

.pricing h2 {
  font-size: 1.5rem;
  color: #166a53;
  font-weight: 700;
}

.pricing-content {
  position: relative;
  padding: 2rem 0 1rem;
  -webkit-box-shadow: -4px 3px 30px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.pricing-content::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background-color: #166a53;
}

.pricing-content h4 {
  font-size: 1.25rem;
  font-family: 700;
  color: #166a53;
}

.pricing-content h3 {
  font-size: 2.5rem;
  font-family: 900;
  color: #166a53;
}

.pricing-content h6 {
  padding: 0 3rem;
  font-size: 0.8rem;
  color: #166a53;
}

.pricing-content p {
  color: #166a53;
}

.pricing-content.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#12fba7), to(#287358));
  background-image: linear-gradient(#12fba7, #287358);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pricing-content.active::after {
  display: none;
}

.pricing-content.active h4 {
  font-size: 1.25rem;
  font-family: 700;
  color: #ffffff;
}

.pricing-content.active h3 {
  font-size: 2.5rem;
  font-family: 900;
  color: #ffffff;
}

.pricing-content.active h6 {
  padding: 0 3rem;
  font-size: 0.8rem;
  color: #ffffff;
}

.pricing-content.active p {
  color: #ffffff;
}

.pricing-link {
  margin: 3rem auto;
  font-size: 1.5rem;
}

#footer .footer {
  padding-top: 5rem;
  min-height: 100vh;
  background-image: url(../img/bg-footer.png);
  background-size: 100% 100%;
  background-position: center;
}

#footer h2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

#footer .contact a {
  color: #ffffff;
  text-decoration: none;
}

#footer .contact a i {
  font-size: 2rem;
}

#package-page {
  position: relative;
}

#package-page .logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#package-page .logo-content {
  display: inline-block;
  background-color: #fbb816;
  border-bottom-right-radius: 100px;
}

#package-page .logo-image {
  width: 100px;
  padding: 1rem 2rem 2rem 1rem;
}

#package-page .header {
  background-image: url(../img/bg-header2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
  padding-bottom: 9rem;
}

#package-page .header-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fbb816;
}

#package-page .header-description {
  font-size: 1.25rem;
  color: #ffffff;
}

#package-page .header-image {
  max-width: 250px;
}

#package-table .package-content {
  min-height: 80vh;
}

#package-table .package-content-title {
  font-size: 2rem;
  color: #166a53;
  font-weight: 700;
}

#package-table .facilities-item {
  padding: 0.75rem 0.5rem;
  border-top: 1px solid grey;
}

#package-table .facilities-item:first-child {
  border-bottom: 1px solid grey;
  border-top: none;
  font-weight: bolder;
  text-align: left;
}

#package-table table td {
  text-align: center;
  padding: 0.75rem 0.5rem;
  border-top: 1px solid grey;
}

#package-table table th {
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 0.75rem 0.5rem;
  font-weight: bolder;
}

.package-features-title {
  font-size: 2rem;
  color: #166a53;
  font-weight: 700;
}

.package-features-item {
  font-size: 1.5rem;
  color: #166a53;
  position: relative;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
}

.package-features-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.package-features .feature-icon {
  display: inline-block;
  height: 100px;
  position: relative;
  margin-bottom: 2.5rem;
}

.package-features .feature-icon .icon-image {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  line-height: 90px;
  font-size: 90px;
  color: #166a53;
  padding: 15px 15px;
}

.package-features .feature-icon .icon-image:hover {
  color: black;
}

.package-features .feature-icon .icon-underline {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #166a53;
  left: 0;
  bottom: -1.5rem;
}

.package-features .feature-icon .icon-underline::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  top: -0.4rem;
  left: 50%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  background-color: #166a53;
}

.package-features .feature-title {
  font-size: 1.2rem;
}

.package-features .feature-description {
  font-size: 0.9rem;
}

@media screen and (max-height: 650px) {
  .about,
  .pricing {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  #home .header,
  #project .project,
  #footer .footer,
  #package-page .header {
    padding: 5rem 0;
    background-size: cover;
    background-position: center;
  }
  .about,
  .pricing {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .green-button {
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
  }
  .navbar {
    padding-right: 0;
    right: 0;
    border-right: none;
  }
  .navbar-collapse {
    background-color: rgba(22, 106, 83, 0.9);
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navbar-collapse ul {
    padding: 0;
  }
  .header-image {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  #home .logo-image {
    width: 60px;
    padding: 0.5rem 1rem 1rem 0.5rem;
  }
  #home .header-title {
    font-size: 2rem;
    font-weight: 700;
    color: #fbb816;
  }
  #home .header-description {
    font-size: 1rem;
    color: #ffffff;
  }
  #package-page .logo-image {
    width: 60px;
    padding: 0.5rem 1rem 1rem 0.5rem;
  }
  #package-page .header-title {
    font-size: 2rem;
    font-weight: 700;
    color: #fbb816;
  }
  #package-page .header-description {
    font-size: 1rem;
    color: #ffffff;
  }
  #package-table .package-content-title {
    font-size: 1.5rem;
  }
  #package-table .facilities-item {
    padding: 0.75rem 0.25rem;
    font-size: 0.9rem;
  }
  #package-table table td,
  #package-table table th {
    font-size: 0.9rem;
    padding: 0.75rem 0.25rem;
  }
  .package-features-title {
    font-size: 1.5rem;
  }
  .package-features-item {
    font-size: 1.25rem;
  }
  .package-features .feature-icon {
    display: inline-block;
    height: 70px;
  }
  .package-features .feature .icon-image {
    line-height: 70px;
    font-size: 70px;
    color: #166a53;
  }
  .package-features .feature .icon-image:hover {
    color: black;
  }
  .package-features .feature-title {
    font-size: 1rem;
  }
  .package-features .feature-description {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */